.chatMessage {
    min-height: 30px;
    width: 300px;
    background-color: rgba(0,0,0,.8);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5px;
    padding: 0px 20px;
    border-radius: 20px;
}

.chatMessageName {
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
}

.chatMessageContent {
    line-break: auto;
}